* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

.header {
    background-image: url(/assets/img/Layer1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 380px;
    z-index: -1;

}

.logo {
    display: block;
    padding-top: 310px;
    padding-bottom: 70px;


}

.text {
    font: 4em "Fira Sans", sans-serif;
    color: rgb(4, 58, 114);
    width: 150px;
    margin: 0 50px 0 450px;

}

.text1 {
    font: 1.3em "Fira Sans", sans-serif;
    color: rgb(4, 58, 114);
    width: 390px;
    margin: 0 50px 0 50px;


}

.menubar {
    width: 1200px;
    margin: 0 auto;
}

ul.menu {
    float: center;
    margin-top: 10px;
}

ul.menu li {
    float: left;
    padding: 0 0 0 9px;
    list-style: none;
    margin: 0px 2px 0 0;
}

ul.menu li a {
    font: 1.6em "Fira Sans", sans-serif;
    color: rgb(4, 58, 114);
    display: block;
    padding: 5px 0px 5px 0px;
    text-decoration: none;
}

ul.menu li.selected a {
    color: #aeb002;
}

ul.menu li a:hover {
    color: rgb(255, 0, 0);
}

.site_conten {
    height: 1200px;
    width: 1200px;
    margin: 0 auto;
}

.site_conten .best {
    display: inline-block;
    overflow: hidden;
    margin-bottom: 20px;
    background: #f9f9f9;
    padding: 10px;
    height: 320px;
    width: 540px;
    margin-left: 20px;


}

.site_conten .best img {
    float: right;
    margin-right: 10px;
    border-radius: 50%;
    width: 150px;
}

.site_conten .best h2 {
    text-align: center;
    font: 2em "Fira Sans", sans-serif;
    color: rgb(4, 58, 114);
    margin-bottom: 10px;
    padding: 10px;

}

.site_conten .best p {
    font: 1.3em "Fira Sans", sans-serif;
    color: rgb(4, 58, 114);
    text-align: left;
    padding: 0;
    margin: 10px;
}

.site_conten {
    height: 1200px;
    width: 1200px;
    margin: 0 auto;
}

.conten_honor {
    height: 2000px;
    width: 1200px;
    margin: 0 auto;
}

.conten_honor .honor {
    display: inline-block;
    overflow: scroll;
    margin-bottom: 20px;
    background: #f9f9f9;
    padding: 10px;
    height: 200px;
    width: 360px;
    margin-left: 10px;


}

.conten_honor .honor img {
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    width: 100px;
}

.conten_honor .honor h2 {
    text-align: center;
    font: 2em "Fira Sans", sans-serif;
    color: rgb(4, 58, 114);
    margin-bottom: 10px;
    padding: 10px;

}

.conten_honor .honor p {
    font: 1.3em "Fira Sans", sans-serif;
    color: rgb(4, 58, 114);
    text-align: left;
    padding: 0;
    margin: 10px;
}

.footer {
    background-size: cover;
    background-image: url(/assets/img/Layer3.jpg);
    width: 100%;
    height: 350px;
    padding: 0 0 5px 0;
    text-align: center;
    bottom: 0;
    color: #a8aa94;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 900px;
}

.footer p {
    padding: 0 0 10px 0;
    text-align: center;
    font: 1.1em "Fira Sans", sans-serif;
    color: rgb(4, 58, 114);
    margin: 0 0 0 0;

}


.social {
    background-position: center;
    display: inline-block;

}