/* сброс стилей браузера */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1.2;
}

ol {
	padding-left: 1.4em;
	list-style: decimal;
}

ul {
	padding-left: 1.4em;
	list-style: square;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* конец кода сброса стилей браузера */

html {
	font-family: PTSans, Arial, sans-serif;
	font-size: 62.5%;
	background: rgb(225, 238, 253) url(../images/bg_body.png) repeat-x;
}

/* Оказывается,если умножить 62,5 % на 16 пикселов (стандартный размер шрифта текста большинства браузе-
ров), получится 10 пикселов. При таком начальном размере шрифта очень просто вычислить раз-
меры всех последующих и представить, как они будут выглядеть на экране монитора. Например,
1,5em будет равняться 1,5 × 10, или 15 пикселов, 2em — 20 пикселов и т. д. Считать очень просто,
умножая размер в em на 10. Вы также можете использовать единицы rem (описанные в разделе
«Форматирование символов и слов» данной главы), которые похожи на em, но позволяют избежать
проблемы, связанной с наследованием вложенных единиц em.*/

/* БАЗОВЫЙ */
body {
	font: 62.5% Verdana, Arial, Helvetica, sans-serif;
	padding: 20px;
}